<div id='left'>
  <div id='activities'>
    <h2 class='xp'>Activities</h2>
    <ul class='activities'>
      <li> 5 secs - PredictionIO - How to do it</li>
      <li> 5 secs - PredictionIO - How to do it</li>
      <li> 5 secs - PredictionIO - How to do it</li>
      <li> 5 secs - PredictionIO - How to do it</li>
      <li> 5 secs - PredictionIO - How to do it</li>
      <li> 5 secs - PredictionIO - How to do it</li>
    </ul>
  </div>
</div>
