<div id='left_side'>

  <div id="activities">
    <h2>Activities</h2>
      <ul id="list">
        <li> [PredictionIO]: 2013-20-10 5 seconds</li>
        <li> [PredictionIO]: 2013-20-10 5 seconds</li>
        <li> [PredictionIO]: 2013-20-10 5 seconds</li>
        <li> [PredictionIO]: 2013-20-10 5 seconds</li>
        <li> [PredictionIO]: 2013-20-10 5 seconds</li>
        <li> [PredictionIO]: 2013-20-10 5 seconds</li>
      </ul>
  </div>

</div>
