<div id='top'>
  <div id='top_center'>

    <div id='timtoady'>
      <div id='logo'></div>
      <span class='acronym'>TimToady</span>
      <span class='full_m'>There is more than one way to do it.</span>
    </div>

    <div id='top_inner_right'>
      <div id='menu'>MENU</div>
      <div id='search'>
        <%= search_field_tag :search_field %>
      </div>
    </div>

  </div>
</div>
