<div id='top'>
  <div id='top_inner'>
    <div id='logo'>
      <%= image_tag("timtoady.png") %>
      <h1 class='tty'>TimToady</h1>
      <h5 class='timtoady'>There is more than one way to do it.</h5>
    </div>
    <div id='search_box'>
      <input type="text" name="search" class='search' placeholder="search" tabindex="1" autocapitalize="off" autocomplete="off" spellcheck="false">
    </div>
    <div id='menu'>
      <span class='menu'>MENU</span>
    </div>
  </div>
</div>
