@font-face { font-family: advent; src: url('advent.otf'); }

html { overflow-y: scroll }

body {
margin: 0;
padding: 0;
width: 100%;
font-family: advent;
background-color: #02222B;
}

h2.xp {
height: 25px;
margin: 5px 0 5px 10px;
color: #02222B;
}


input[type="text"], input[type="submit"], textarea, #middle,
.menu{
min-height: 34px;
padding: 7px 8px;
outline: none;
color: #009966;
background-color: #fff;
background-repeat: no-repeat;
background-position: right center;
border: 1px solid #000;
border-radius: 4px;
box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
-moz-box-sizing: border-box;
box-sizing: border-box;
vertical-align: middle;
}


#middle {
width: 90%;
display: table;
min-height: 150px;
margin: 0 auto;
margin-top: 45px;
}


#left, #right {
width: 50%;
min-height: 100px;
display: table;
float: left;
margin-top: 5px;
}

#right {
float: right;
}

.menu, #activities, #intro, #sign_up_box {
background: #e6f1f6;
border: 1px solid #999;
border-bottom-color: #555;
border-radius: 4px;
color: #009966;
}

.activities {
width: 95%;
margin: 10px;
list-style: none;
padding: 0px;
}

#intro, #sign_up_box {
  width: 99%;
  margin: 0px 0px 5px 5px;
}

.intro {
width: 90%;
display: table;
margin-left: 15px;
text-align: justify;
}

#footer {
width: 90%;
height: 100px;
background: #fff;
margin: 0 auto;
margin-top: 5px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

.cp{
  display: block;
  margin-left: 5px;
  line-height: 30px;
  font-size: 72.5%;
}
